/* Base styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.nav {
  color: rgb(83, 58, 226);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  display: inline;
  margin-right: 25px;
  position: relative;
}

.nav-list li a {
  font-family: "Cutive Mono", monospace;
  color: #3a87cf;
  text-decoration: none;
  font-size: 19px;
  margin: 22px;
}

.nav-list li a:hover {
  color: rgb(48, 123, 189);
}

.nav-list li.buynow::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-list li.buynow:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.addtocart {
  margin-left: 79px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .nav-list {
    flex-wrap: wrap;
  }

  .nav-list li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .addtocart {
    margin-left: 0;
  }
}
